<VirtualHost *:80>
   ServerName www.imonisweet.me
   ServerAlias imonisweet.me
   DocumentRoot /var/www/html/lavarel_project/public
   <Directory /var/www/html/lavarel_project>
       AllowOverride All
   </Directory>
   ErrorLog ${APACHE_LOG_DIR}/error.log
   CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>